/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #333; */
  background-color: black;
}

h1 {
  color: white;
  margin-top: 60px;
}

button {
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.naver {
  color: white;
  background-color: green;
  font-size: 30px;
}

.kakao {
  color: black;
  background-color: yellow;
  font-size: 30px;
}

.google {
  color: white;
  background-color: #0056b3;
  font-size: 30px;
}

button:hover {
  /* background-color: #0056b3; */
  scale: 1.1;
}

.wrapper {
  margin-top: 50px;
  overflow: hidden;
  border-radius: 50%;
  width: 420px;
  height: 420px;
}

.pedro {
  scale: 1.1;
}

@keyframes bounce {
  to {
    translate: 0 20px;
  }
}
.pedro {
  animation: bounce 200ms linear infinite alternate;
}

@keyframes spin {
  to {
    rotate: -1turn;
  }
}
.wrapper {
  animation: spin 10s linear infinite;
}
